<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Authorization</servlet-name>
        <servlet-class>userInterface.controller.servlets.SignInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Authorization</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>userInterface.controller.servlets.SignOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>userInterface.controller.servlets.SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>userInterface.controller.servlets.StartPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Catalog</servlet-name>
        <servlet-class>userInterface.controller.servlets.PizzasCatalogServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Catalog</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PersonalArea</servlet-name>
        <servlet-class>userInterface.controller.servlets.PersonalAreaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PersonalArea</servlet-name>
        <url-pattern>/personalArea</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserBasket</servlet-name>
        <servlet-class>userInterface.controller.servlets.UserBasketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserBasket</servlet-name>
        <url-pattern>/basket</url-pattern>
    </servlet-mapping>
</web-app>